<html>
    <head>
        <title>EY SI DYI TRADING AND MFG.CO</title>
        <link rel="shortcut icon" href="resources/images/favicon.ico" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Josefin+Sans">
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Muli">
        <link rel="stylesheet" href="resources/bootstrap-3.3.7-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="resources/css/style.css">
        <link rel="stylesheet" href="resources/css/responsive.css">
        <script src="resources/js/jquery-3.2.1.min.js"></script>
        <script src="resources/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
        <script src="resources/js/vue.js"></script>
    </head>
    <body>
        <!-- <div class="container">-->
        <div class="header">
            <div class='header-title'>EY SI DYI TRADING AND MFG.CO</div>
            <!--<nav class="navbar navbar-default">
<div class="container-fluid">
<ul class="nav navbar-nav">
<li class="nav-item"><a class='nav-item-link'>home</a></li>
<li class="nav-item"><a class='nav-item-link'>about us</a></li>
<li class="nav-item"><a class='nav-item-link'>services</a></li>
<li class="nav-item"><a class='nav-item-link'>products</a></li>
<li class="nav-item"><a class='nav-item-link'>contact us</a></li>
</ul>
</div>
</nav>-->

            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#" data-toggle="collapse" data-target="#myNavbar">Menu</a>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>                        
                        </button>

                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li class="nav-item"><a class='nav-item-link' href="index.html">home</a></li>
                            <li class="nav-item"><a class='nav-item-link' href="about-us.html">about us</a></li>
                            <li class="nav-item"><a class='nav-item-link' href="services.html">services</a></li>
                            <li class="nav-item"><a class='nav-item-link' href="products.html">products</a></li>
                            <li class="nav-item">
                                <a class='nav-item-link' href=contact-us.html>contact us</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <!--</div>  -->  

        <!--<div class="container content">-->
        <div class="content">
            <div class="banner">
                <img class="banner-img" src="resources/images/banner-img.png">
            </div>
            <div class="welcome-message">
                <p class="welcome-header">"Welcome to Ey-Si-Dyi"</p>
                <p class="welcome-content">We, Ey-Si-Dyi Trading & Mfg. Co., are one of the prominent suppliers of Traction Batteries which are highly required in various kinds of industries. </p>
            </div>
            <div class="subcontainer">
                <div class="container">
                    <div class="row home-content">
                        <div class="col-sm-4">
                            <img src="resources/images/about-us.png">
                            <p>
                                Ey-Si-Dyi Trading & Mfg. Co. is here to provide the best solutions for your <a class="link">Industrial Traction Battery and Electric Vehicles Battery</a> needs. Our company looks after your satisfaction and your safety as well.
                            </p>
                            <a class="link header-link" href="about-us.html">
                                read more
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <img src="resources/images/products.png">
                            <p>
                                We offer Chloride (Ceil) batteries that are free from any kind of troubles and can give best performance at the time of work. Parts and services for various <a class="link">types of batteries </a>are also offered from our end and that too, are at cheap rates.
                            </p>
                            <a class="link header-link" href="products.html">
                                read more
                            </a>
                        </div>

                        <div class="col-sm-4">
                            <img src="resources/images/contact-us.png">
                            <p>
                                Keep you and your family safe and get trustworthy <a class="link">Traction Batteries</a> from us. For inquiries about our products and services, don’t hesitate to contact us. Gives us a call or send us an email.
                            </p>
                            <a class="link header-link" href="contact-us.html">
                                read more
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id='vueappfooter'>
            <div class='footer' >
                <!--<div class="container">-->
                <div class="container footer-header ">
                    <div class="row ">
                        <div class="col-sm-8">
                            <div class="footer-title">
                                {{footer_data.footer_title}}
                            </div>
                            <div class="footer-subtitle">
                                {{footer_data.footer_subtitle}}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <!--<div class="number-details">
(T)+63 2 5533981 / +63 2 8615473 / 
</div>
<div class="number-details">
(M)+63 922 8238113 / +63 932 1311070
</div>-->
                            <div class="number-details" v-for='data in footer_data.number_detail'>
                                {{data}}
                            </div>
                            <div class="email-details" v-for='data in footer_data.email_detail'>
                                {{data}}
                            </div>
                            <!--<div class="email-details">
arnold_enriquez@eysidyitrading.com 
</div>
<div class="email-details">
inquire@eysidyitrading.com
</div>-->
                        </div>
                    </div>
                </div>

                <div class="footer-subheader">
                    <div class="container">
                        {{footer_data.footer_subheader}}
                    </div>
                </div>
                <!--</div-->

            </div>
        </div>
        <!--<div id='data'>
{{footer_data.footer_title}}
</div>-->
        <script src="resources/js/mainscript.js"></script>
    </body>
</html>